{# Home Template #}
{% extends "_base.twig" %}

{# header block #}
{% block header %}
    <script src="js/map.js">
    </script>
{% endblock %}

{# content block #}
{% block content %}
    <div class="container-fluid portalContainer">
	<div class="container">
	    <div class="page-header-v2">
		<h1 class="h2"> {{ data.pageHeader }} </h1>
	    </div>
	    <div class="row">
		<div class="col-md-7">
		    {{ content.Description }}
		</div>
		<div class="col-md-5 no-padding-left">
		    <p><strong>Street: </strong> {{ content.Street }} </p>
		    <p><strong>Date: </strong> {{ content.Date }}</p>
		    <iframe
			width="100%"
			height="450"
			frameborder="0" style="border:0"
			src="https://www.google.com/maps/embed/v1/place?key=AIzaSyD0I9IaitYOgCbw_6rotKZL36A5vLSYQT8
			&q={{ content.location_lat }},{{ content.location_long }}&zoom=18" allowfullscreen>
		    </iframe>
		</div>
	    </div>
	</div>
    </div>

{% endblock %}

{# footer block #}

{% block footer %}

{% endblock %}
